{% extends 'dating/base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chat with <a href="{% url 'user' id=user.id %}">{{ user.name }}</a></h1>
  <div class="room-outer">
    <ul class="list-group" id="room">
    </ul>
  </div>
  <input type="text" class="form-control" id="input" placeholder="Type messages...">
</div>
<script type="text/javascript">
var room = document.getElementById("room");
var input = document.getElementById("input");
var me = {{ me }};

function addMessage(user, content) {
  var li = document.createElement("li");
  li.classList = "list-group-item";
  li.appendChild(document.createTextNode(user + ": " + content)); 
  room.appendChild(li);

  room.scrollIntoView(false);
}

var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/{{ room.id }}/?token={{ jwt_token }}');

chatSocket.onmessage = function (e) {
  var data = JSON.parse(e.data);
  var message = data.message;
  if (me == message.user.id) return;

  addMessage(message.user.name, message.content);
};

chatSocket.onclose = function (e) {
  console.error('Chat socket closed unexpectedly');
};

input.onkeyup = function(event) {
  if (event.keyCode === 13 && input.value) {
    addMessage("Me", input.value);
    chatSocket.send(JSON.stringify({
      'content': input.value
    }));
    input.value = "";
  }
}
</script>
{% endblock %}
