{% extends 'dating/base.html' %}
{% load static %}
{% block title %}home{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chat with <a href="{% url 'user' id=user.id %}">{{ user.name }}</a></h1>
  <div class="room-outer">
    <ul class="list-group" id="room">
      {% for message in messages %}
        <li class="list-group-item {% if message.user_id == request.session.user_id %}me{% else %}other{% endif %}">
          {% if message.user_id != request.session.user_id %}
            {{ message.user.name }}:
          {% endif %}
          {{ message.content }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <input type="text" class="form-control" id="input" placeholder="Type messages...">
</div>
<script type="text/javascript">
var meId = {{ me.id }};
var roomId = {{ room.id }}
var jwtToken = '{{ jwt_token }}';
</script>
<script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
