{% extends 'dating/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}Chats{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/chats.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
  <h1>Chats</h1>

  <ul class="list-group">
    {% for room in rooms %}
      {% if room.user1_id == request.session.user_id %}
        <a href="{% url 'chat' id=room.user2.id %}"
          class="list-group-item list-group-item-action chat">
          {{ room.user2.name }}
          <small class="badge badge-primary badge-pill">
            {{ room.updated_at|timesince }} ago
          </small>
        </a>
      {% else %}
        <a href="{% url 'chat' id=room.user1.id %}"
          class="list-group-item list-group-item-action chat">
          {{ room.user1.name }}
          <small class="badge badge-primary badge-pill">
            {{ room.updated_at|timesince }} ago
          </small>
        </a>
      {% endif %}
    {% empty %}
      <li class="list-group-item">No chat</li>
    {% endfor %}
  </ul>
  
  <nav aria-label="Page navigation example" style="margin-top: 20px;">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
