{% extends 'dating/base.html' %}
{% load static %}
{% block title %}Edit profile{% endblock %}
{% block content %}
<div class="container">
  <h1>Edit profile</h1>
  <form action="/edit/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if message %}
      <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-danger">
        {{ form.errors }}
      </div>
    {% endif %}

    <div class="form-group">
      {{ form.picture.label_tag }}
      {% if user.picture %}
        <p><img src="{{ user.picture.url }}" style="width: 300px; max-width: 100%;" /></p>
        {% if user.picture_violated %}
        <p class="alert alert-danger">Your picture violates our terms of use. It won't show on your profile.</p>
        {% endif %}
      {% endif %}
      {{ form.picture }}
    </div>

    <div class="form-group">
      <label for="id_name">Email:</label>
      <p>
        {{ user.email }}
        {% if user.email_verified %}
          (Verified)
        {% else %}
        <a href="/resend">Resend</a>
        {% endif %}
      </p>
    </div>

    <div class="form-group">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    <div class="form-group">
      {{ form.gender.label_tag }}
      {{ form.gender }}
    </div>

    <button type="submit" class="btn btn-primary btn-raised">Save</button>
  </form>
</div>
{% endblock %}
