.me {
  background: lightcyan;
  text-align: right;
}

.other {
  background: lightgoldenrodyellow;
}

.room-outer {
  height: calc(100vh - 220px);
  overflow-y: scroll;
  margin-bottom: 20px;
}

.content {
  white-space: pre-wrap;
}
