.me {
  background: lightcyan;
  text-align: right;
}

.other {
  background: lightgoldenrodyellow;
}

.room-outer {
  height: calc(100vh - 220px);
  overflow-y: scroll;
  margin-bottom: 20px;
}

.list-group-item {
  display: block;
  border-bottom: lightgray 1px solid;
}

.list-group-item :first-child {
  margin-right: 0;
}

.content {
  white-space: pre-wrap;
}

.list-group-item small {
  margin-top: 8px;
}