body {
  background: url("/static/images/home.jpg") no-repeat center center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 68px);
}

.slogan {
  align-items: center;
  justify-content: center;
  width: 400px;
  max-width: 100%;
  height: 200px;
  padding-top: 30px;
  background: white;
  text-align: center;
}